* {
    font-family:Verdana, Geneva, Tahoma, sans-serif; 
}

header {
    display: block;
    float: left;
    font-size: 55px;
    margin-left: 4em;
    margin-top: 40px;  
    margin-bottom: 15px;
    padding: 8px; 
}

.countdown {
    margin: 10px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
}

.start {
   display: block;
   float: right;
   padding: 10px 15px 10px 15px;
   background-color: rgb(230, 69, 69);
   font-size: 30px;
   border-radius: 10px;
   cursor: pointer;
   margin-bottom: 15px;
}

section {
    display: block;
    justify-content: center;
 }

main {
    margin-top: 20px;
    margin-left: 15em;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;  
    outline: 4px dashed rgb(230, 69, 69);
    padding: 10px 30px 10px 30px;
    width: 60%;
}

main h2 {
    font-size: 25px;
    text-align: center;
}

ol {
    list-style-type: none;
}

.choices {
    padding-top: 10px;
    padding-bottom: 10px; 
    width: 50%;
    display: row;
    margin-left: 25%;
    border-radius: 15%;
    margin-bottom: 5px;
}

.score {
    font-size: 20px;
}

section {
    margin-left: 35em;
    padding-top: 18em;
    width: 40%;
    height: 20%;
}

.hide {
    display: none;
}

